<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Gestion des Inscriptions</title>
    <link rel="stylesheet" href="{% static 'agent_styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Accueil</a>
        <a href="{% url 'info' %}">Informations de l'Étudiant</a>
        
        <a href="{% url 'status' %}">Statut de l'Étudiant</a>
    </nav>
    <div class="container">
        <h1>Bienvenue à la Gestion des Inscriptions des Étudiants</h1>
        <h2>Informations de l'Agent</h2>
        {% for agent in agents %}
            {% if agent.Email == user.email%}
                <p>Nom : {{ agent.Nom}}</p>
                <p>Prénom : {{ agent.Prenom}}</p>
                <p>Email : {{ agent.Email }}</p>
                <p>Téléphone : {{ agent.Telephone }}</p>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
