<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Gestion des Inscriptions</title>
    <link rel="stylesheet" href="{% static 'agent_styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Accueil</a>
        <a href="{% url 'info' %}">Informations de l'Étudiant</a>
        <a href="{% url 'univ' %}">Universités Ciblées</a>
        <a href="{% url 'status' %}">Statut de l'Étudiant</a>
    </nav>
    <div class="container">
        <h1>Bienvenue à la Gestion des Inscriptions des Étudiants</h1>
        <h2>Informations de l'Agent</h2>
        <p>Nom : {{ agent.nom }}</p>
        <p>Prénom : {{ agent.prenom }}</p>
        <p>Email : {{ agent.email }}</p>
        <p>Téléphone : {{ agent.telephone }}</p>
    </div>
</body>
</html>
