<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Gestion des Inscriptions</title>
    <link rel="stylesheet" href="{% static 'agent_styles.css' } ">
</head>
<body>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="student-info.html">Informations de l'Étudiant</a>
        <a href="universities.html">Universités Ciblées</a>
        <a href="status.html">Statut de l'Étudiant</a>
        <a href="updates.html">Historique des Mises à Jour</a>
        <a href="actions.html">Actions à Entreprendre</a>
    </nav>
    <div class="container">
        <h1>Bienvenue à la Gestion des Inscriptions des Étudiants</h1>
        <p>Utilisez le menu pour naviguer entre les différentes sections.</p>
    </div>
</body>
</html>
