<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Statut de l'Étudiant</title>
 <link rel="stylesheet" href="{% static 'agent_styles.css' %}">
</head>
<body>
 <nav>
 <a href="{% url 'dashboard' %}">Accueil</a>
 <a href="{% url 'info' %}">Informations de l'Étudiant</a>
 <a href="{% url 'status' %}">Statut de l'Étudiant</a>
 </nav>
 <div class="container">
 <h1>Statut de l'Étudiant</h1>
<form action="{% url 'status' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
 <table id="studentStatus-table">
 <thead>
 <tr>
 <th>Nom de l'Université</th>
 <th>Programme</th>
 <th>Statut</th>
 </tr>
 </thead> 
 <tbody>
    {% for candidature in candidatures %}
        {% for data in candidature.get_universities_and_formations %}
            <tr>
                <td>{{ data.universite }}</td>
                <td>{{ data.formation }}</td>
                <td>{% if data.status == 'approved' %}
                    <select name="status_{{ candidature.id_candidature }}_{{ data.universite }}">
                        <option value="{{data.status}}" disabled selected>{{data.status}}</option>
                        <option value="pending">Pending</option>
                        <option value="denied">Denied</option>
                    </select>
                {% elif data.status == 'pending' %}
                <select name="status_{{ candidature.id_candidature }}_{{ data.universite }}">
                    <option value="{{data.status}}" disabled selected>{{data.status}}</option>
                    <option value="approved">Approved</option>
                    <option value="denied">Denied</option>
                </select>
                {% elif data.status == 'denied' %}
                <select name="status_{{ candidature.id_candidature }}_{{ data.universite }}">
                    <option value="{{data.status}}" disabled selected>{{data.status}}</option>
                    <option value="approved">Approved</option>
                    <option value="pending">Pending</option>
                </select>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
 </tbody>
 </table>
 <div class="button-container" style="display: flex; justify-content: center; width: 100%; margin-top: 10px;">
    <button
      class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
      type="submit"
      >
      Soumettre
    </button>
</div>
 </form>
 </div>
 <script src="{% static 'agent_script.js' %}"></script>
</body>
</html>
