<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations de l'Étudiant</title>
    <link rel="stylesheet" href="{% static 'agent_styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Accueil</a>
        <a href="{% url 'info' %}">Informations de l'Étudiant</a>
        <a href="{% url 'univ' %}">Universités Ciblées</a>
        <a href="{% url 'status' %}">Statut de l'Étudiant</a>
        
    </nav>
    <div class="container">
        <h1>Informations de l'Étudiant</h1>
        <div class="student-info">
            <h2>Informations de l'Étudiant</h2>
            <p><strong>Nom de l'étudiant :</strong> <span id="student-name"></span></p>
            <p><strong>Date de naissance :</strong> <span id="dob"></span></p>
            <p><strong>Numéro d'identification étudiant :</strong> <span id="student-id"></span></p>
            <p><strong>Email :</strong> <span id="email"></span></p>
            <p><strong>Téléphone :</strong> <span id="phone"></span></p>
        </div>
    </div>
    <script src="{%static 'agent_script.js' %}"></script>
</body>
</html>
