<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Étudiants</title>
    <link rel="stylesheet" href="{% static 'agent_styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Accueil</a>
        <a href="{% url 'student-list' %}">Informations de l'Étudiant</a>
        
        <a href="{% url 'status' %}">Statut de l'Étudiant</a>
    </nav>
    <div class="container">
        <h1>Liste des Étudiants pour l'agent {{ agent.name }}</h1>
        <div class="student-list">
            {% for candidature in candidatures %}
                {% if agent.id == candidature.agent_id %}
                    <div class="student">
                        <p><strong>Photo de l'étudiant :</strong></p>
                        <img src="{{ candidature.photo.url }}" alt="Logo HubSpot" width=30% height=30%/></p>
                        <p><strong>Nom de l'étudiant :</strong> {{ candidature.Nom }}</p>
                        <p><strong>Prenom de l'étudiant :</strong> {{ candidature.Prenom }}</p>
                        <p><strong>Email de l'étudiant :</strong> {{ candidature.Email }}</p>
                        <p><strong>Date de naissance de l'étudiant :</strong> {{ candidature.Date_de_naissance }}</p>
                        <p><strong>Nationalité de l'étudiant :</strong> {{ candidature.Nationalité }}</p>
                        <p><strong>CIN de l'étudiant :</strong> {{ candidature.CIN }}</p>
                        <p><strong>Lettre de motivation de l'étudiant :</strong> {{ candidature.Lettre_de_motivation }}</p>
                        <p><strong>BAC de l'étudiant :</strong></p>
                            <img src="{{ candidature.BAC.url }}" alt="Logo HubSpot" width=30% height=30%/></p>
                        <p><strong>Bulletin du  de l'étudiant :</strong></p>
                                <img src="{{ candidature.note_BAC.url }}" alt="Logo HubSpot" width=30% height=30%/></p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'agent_script.js' %}"></script>
</body>
</html>
